@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  body{
    @apply min-h-screen
  }
    form{
        @apply flex flex-col gap-3 w-full mt-44
    }
    input {
        @apply border p-2 rounded-sm shadow-md
    }
    button[type=submit]{
        @apply p-2 bg-indigo-800 text-white font-bold rounded-sm shadow-md
    }
}


body{
  background: rgb(56,38,116);
  background: linear-gradient(0deg, rgba(56,38,116,1) 0%, rgba(77,8,128,1) 51%);
}




.lds-facebook {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-facebook div {
    display: inline-block;
    position: absolute;
    left: 8px;
    width: 16px;
    background: #fff;
    animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
  }
  .lds-facebook div:nth-child(1) {
    left: 8px;
    animation-delay: -0.24s;
  }
  .lds-facebook div:nth-child(2) {
    left: 32px;
    animation-delay: -0.12s;
  }
  .lds-facebook div:nth-child(3) {
    left: 56px;
    animation-delay: 0;
  }
  @keyframes lds-facebook {
    0% {
      top: 8px;
      height: 64px;
    }
    50%, 100% {
      top: 24px;
      height: 32px;
    }
  }